<h3>Hello! @ViewData["Name"]</h3>

<div>
    @if (ViewData["isadmin"].ToString() == "1")
    {
        <input type="button" id="Backstage" onclick="Backstage()" value="后台管理员管理"><br />
        <input type="button" id="DealBlogApply" onclick="DealBlogApply()" value="博客申请处理"><br />
    }
    @if (ViewData["openblog"].ToString() == "0"  && ViewData["state"].ToString() == "1")
    {
        <input type="button" id="BlogApply" onclick="BlogApply()" value="申请博客"><br />
    }
    @if (ViewData["openblog"].ToString() == "0" && ViewData["state"].ToString() == "0")
    {
        <label>您的博客申请正在处理中....</label><br />
    }
    @if (ViewData["openblog"].ToString() == "1")
    {
        <input type="button" id="MyBlog" onclick="MyBlog()" value="进入我的博客"><br />
    }
</div>

<div style="margin-top: 30px;">
    @using (Html.BeginForm("MyCenter", "MyIndex", FormMethod.Post))
    {
        <label>姓名：</label>
        string _username = ViewBag.Name;
        @Html.TextBox("username", _username);<br/>
        <label>注册日期：</label>
        string _createtime = ViewBag.createtime;
        @Html.Label("createtime", _createtime);<br />
        <input type="hidden" id="id" name="id" value="@ViewBag.id" />
        <input type="submit" id="btnSubmit" name="btnSubmit" />
    }
</div>
<script>
    function Backstage()
    {
        window.location.href = "/MyIndex/Backstage";
    }

    function BlogApply() {
        window.location.href = "/MyIndex/BlogApply";
    }

    function DealBlogApply() {
        window.location.href = "/MyIndex/DealBlogApply";
    }

    function MyBlog() {
        window.location.href = "http://www.cnblogs.com/";
    }
</script>